In [2]:
import pandas as pd
import os

url = "https://www.sharkattackfile.net/spreadsheets/GSAF5.xls"

data = pd.read_excel(url)

In [3]:
data.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(6969, 23)

In [5]:
data.describe()

              Year  original order
count  6942.000000     6799.000000
mean   1934.403342     3401.152081
std     272.920956     1963.076319
min       0.000000        2.000000
25%    1947.000000     1701.500000
50%    1985.000000     3401.000000
75%    2009.000000     5100.500000
max    2024.000000     6802.000000

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6969 entries, 0 to 6968
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6944 non-null   object
 1   Year            6942 non-null   float64
 2   Type            6926 non-null   object
 3   Country         6894 non-null   object
 4   State           6462 non-null   object
 5   Location        6379 non-null   object
 6   Activity        6358 non-null   object
 7   Name            6724 non-null   object
 8   Sex             6365 non-null   object
 9   Age             3950 non-null   object
 10  Injury          6909 non-null   object
 11  Unnamed: 11     6382 non-null   object
 12  Time            3418 non-null   object
 13  Species         3812 non-null   object
 14  Source          6925 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6819 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [14]:
data.nunique()

Date              6003
Year               259
Type                12
Country            225
State              902
Location          4514
Activity          1587
Name              5683
Sex                  8
Age                243
Injury            4079
Unnamed: 11         12
Time               410
Species           1675
Source            5302
pdf               6789
href formula      6785
href              6776
Case Number       6777
Case Number.1     6775
original order    6797
Unnamed: 21          1
Unnamed: 22          2
dtype: int64

In [15]:
data.Sex.unique()

array(['F', 'M', nan, ' M', 'M ', 'lli', 'M x 2', 'N', '.'], dtype=object)

In [16]:
data.Country.unique()

array(['AUSTRALIA', 'USA', 'INDIA', 'TRINIDAD', 'BAHAMAS', 'SOUTH AFRICA',
       'MEXICO', 'NEW ZEALAND', 'EGYPT', 'Mexico', 'BELIZE',
       'PHILIPPINES', 'Coral Sea', 'SPAIN', 'PORTUGAL', 'SAMOA',
       'COLOMBIA', 'ECUADOR', 'FRENCH POLYNESIA', 'NEW CALEDONIA',
       'TURKS and CaICOS', 'CUBA', 'BRAZIL', 'SEYCHELLES', 'ARGENTINA',
       'FIJI', 'MeXICO', 'Maldives', 'South Africa', 'ENGLAND', 'JAPAN',
       'INDONESIA', 'JAMAICA', 'MALDIVES', 'THAILAND', 'COLUMBIA',
       'COSTA RICA', 'New Zealand', 'British Overseas Territory',
       'CANADA', 'JORDAN', 'ST KITTS / NEVIS', 'ST MARTIN',
       'PAPUA NEW GUINEA', 'REUNION ISLAND', 'ISRAEL', 'CHINA', 'IRELAND',
       'ITALY', 'MALAYSIA', 'LIBYA', nan, 'MAURITIUS', 'SOLOMON ISLANDS',
       'ST HELENA, British overseas territory', 'COMOROS', 'REUNION',
       'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'CAPE VERDE', 'Fiji',
       'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE',
       'PUERTO RICO', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'TRINIDAD & TOBAGO', 'KIRIBATI', 'DIEGO GARCIA', 'TAIWAN',
       'PALESTINIAN TERRITORIES', 'GUAM', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA', 'RUSSIA',
       'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'MARTINIQUE',
       'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'KUWAIT', 'YEMEN ', 'FALKLAND ISLANDS',
       'CRETE', 'CYPRUS', 'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON',
       'PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA',
       'SYRIA', 'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6969 entries, 0 to 6968
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6944 non-null   object
 1   Year            6942 non-null   float64
 2   Type            6926 non-null   object
 3   Country         6894 non-null   object
 4   State           6462 non-null   object
 5   Location        6379 non-null   object
 6   Activity        6358 non-null   object
 7   Name            6724 non-null   object
 8   Sex             6365 non-null   object
 9   Age             3950 non-null   object
 10  Injury          6909 non-null   object
 11  Unnamed: 11     6382 non-null   object
 12  Time            3418 non-null   object
 13  Species         3812 non-null   object
 14  Source          6925 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6819 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [20]:
selected_columns = data[["Year", "Country", "Injury", "Location"]]
selected_columns

,Year,Country,Injury,Location
0,2024.0,AUSTRALIA,"Minor injuries to back, abdomen and legs",Bargara Beach
1,2024.0,USA,"No injury, shark bit surfboard","Old Man's, Waikiki"
2,2024.0,USA,Lacerations to left foot,"Rainbows, Oahu"
3,2024.0,AUSTRALIA,Leg bitten,"Sandlnd Island, Jurian Bay"
4,2024.0,INDIA,Calf of lower left leg injured,"Vaitarna River, Palghar District"
...,...,...,...,...
6964,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN

In [24]:
selected_columns = data[["Year", "Country", "Injury", "Location"]]
selected_columns

selected_collumns_clean =selected_columns.dropna()
selected_collumns_clean

,Year,Country,Injury,Location
0,2024.0,AUSTRALIA,"Minor injuries to back, abdomen and legs",Bargara Beach
1,2024.0,USA,"No injury, shark bit surfboard","Old Man's, Waikiki"
2,2024.0,USA,Lacerations to left foot,"Rainbows, Oahu"
3,2024.0,AUSTRALIA,Leg bitten,"Sandlnd Island, Jurian Bay"
4,2024.0,INDIA,Calf of lower left leg injured,"Vaitarna River, Palghar District"
...,...,...,...,...
6938,0.0,AUSTRALIA,FATAL,
6939,0.0,AUSTRALIA,FATAL,Roebuck Bay
6941,0.0,USA,FATAL,Ocracoke Inlet
6942,0.0,PANAMA,FATAL,"Panama Bay 8ºN, 79ºW"
6943,0.0,CEYLON (SRI LANKA),"FATAL. ""Shark bit him in half, carrying away t...","Below the English fort, Trincomalee"

In [27]:
USA_data = selected_collumns_clean.loc[data['Country'] == 'USA']
USA_data

,Year,Country,Injury,Location
1,2024.0,USA,"No injury, shark bit surfboard","Old Man's, Waikiki"
2,2024.0,USA,Lacerations to left foot,"Rainbows, Oahu"
10,2023.0,USA,FATAL,"Baby Beach, Maui"
24,2023.0,USA,Lacerations to right forearm,"Juno Beach, Palm Beach County"
29,2023.0,USA,Bite to right thigh,"Pua’ena Point, Haleiwa, Oahu"
...,...,...,...,...
6891,0.0,USA,Abrasions & bruises hip to ankle,"Palm Beach, Palm Beach County"
6925,0.0,USA,2-inch lacerations,"Gadsden Point, Tampa Bay"
6930,0.0,USA,"""Lost leg""",Somewhere between Hatteras and Beaufort
6934,0.0,USA,Ankle bitten,Puna
6941,0.0,USA,FATAL,Ocracoke Inlet

In [30]:
unique_locations = USA_data['Location'].unique()
print(f"Number of unique Locations: {unique_locations}")

Number of unique Locations: ["Old Man's, Waikiki" 'Rainbows, Oahu' 'Baby Beach, Maui' ...
 'Capistrano, Orange County' 'Somewhere between Hatteras and Beaufort'
 'Ocracoke Inlet']

In [36]:
location_counts = USA_data['Location'].value_counts()
location_counts
locations_counts_sum = sum(location_counts)

Location
New Smyrna Beach, Volusia County                        191
Daytona Beach, Volusia County                            31
Ponce Inlet, Volusia County                              28
Myrtle Beach, Horry County                               21
Melbourne Beach, Brevard County                          20
                                                       ...
Debordieu Beach, Georgetown County                        1
Singleton Beach, Hilton Head Island, Beaufort County      1
Broad Beach, Malibu, Los Angeles County                   1
Oswald State Park                                         1
Ocracoke Inlet                                            1
Name: count, Length: 1537, dtype: int64

In [41]:
specific_beach_data = USA_data[USA_data['Location'] == 'New Smyrna Beach, Volusia County']
specific_beach_data

,Year,Country,Injury,Location
40,2023.0,USA,Llacerations to face and chin,"New Smyrna Beach, Volusia County"
54,2023.0,USA,Ankle injured,"New Smyrna Beach, Volusia County"
159,2022.0,USA,Minor injury to foot,"New Smyrna Beach, Volusia County"
162,2022.0,USA,Foot bitten,"New Smyrna Beach, Volusia County"
197,2022.0,USA,Bite to right foot,"New Smyrna Beach, Volusia County"
...,...,...,...,...
3889,1974.0,USA,Lacerations to hip and leg,"New Smyrna Beach, Volusia County"
3946,1972.0,USA,Survived,"New Smyrna Beach, Volusia County"
4050,1969.0,USA,Lacerations to lower leg,"New Smyrna Beach, Volusia County"
4371,1963.0,USA,"Left forearm bitten, surgically amputated?","New Smyrna Beach, Volusia County"
4440,1962.0,USA,"8"" laceration on left calf","New Smyrna Beach, Volusia County"

In [42]:
specific_beach_data['Year'] = specific_beach_data['Year'].astype(int)
specific_beach_data

/var/folders/dc/ldz3k5913l3gjmcgcw60g3x80000gp/T/ipykernel_20770/1941169790.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  specific_beach_data['Year'] = specific_beach_data['Year'].astype(int)

,Year,Country,Injury,Location
40,2023,USA,Llacerations to face and chin,"New Smyrna Beach, Volusia County"
54,2023,USA,Ankle injured,"New Smyrna Beach, Volusia County"
159,2022,USA,Minor injury to foot,"New Smyrna Beach, Volusia County"
162,2022,USA,Foot bitten,"New Smyrna Beach, Volusia County"
197,2022,USA,Bite to right foot,"New Smyrna Beach, Volusia County"
...,...,...,...,...
3889,1974,USA,Lacerations to hip and leg,"New Smyrna Beach, Volusia County"
3946,1972,USA,Survived,"New Smyrna Beach, Volusia County"
4050,1969,USA,Lacerations to lower leg,"New Smyrna Beach, Volusia County"
4371,1963,USA,"Left forearm bitten, surgically amputated?","New Smyrna Beach, Volusia County"
4440,1962,USA,"8"" laceration on left calf","New Smyrna Beach, Volusia County"

In [44]:
current_year = 2024

# Calculate the earliest year to include
earliest_year = current_year - 5

# Filter the DataFrame for the last 5 years
recent_injuries = specific_beach_data[specific_beach_data['Year'] >= earliest_year]

print(recent_injuries)

     Year Country                                             Injury  \
40   2023     USA                      Llacerations to face and chin
54   2023     USA                                      Ankle injured
159  2022     USA                               Minor injury to foot
162  2022     USA                                        Foot bitten
197  2022     USA                                 Bite to right foot
198  2022     USA  Minor injuries to knee and calf of left leg   ...
242  2021     USA                 Minor cuts to right foot and ankle
256  2021     USA                                         Leg bitten
274  2021     USA                                  Right calf bitten
275  2021     USA                         Minor injury to right foot
287  2021     USA                                        Foot bitten
361  2020     USA                               Minor injury to foot
363  2020     USA                      Minor lacerations to left leg
369  2020     USA                               Lacerations to foot
377  2020     USA                                        Foot bitten
409  2020     USA                                  Left foot bitten
410  2020     USA  Left foot bitten when he jumped on the shark  ...
437  2019     USA     No injury, knocked from his board by the shark
449  2019     USA  Minor cuts when he jumped off his board and la...
466  2019     USA  Hand and calf bitten when he jumped off surfbo...
470  2019     USA                        Puncture marks to lower leg
472  2019     USA                       Minor injuries to right foot
473  2019     USA                           Minor cuts to right foot
474  2019     USA                        Bite to left hand and wrist
478  2019     USA                         3 lacerations to left hand
480  2019     USA                         Lacerations to right thigh
491  2019     USA                               Minor injury to foot

                             Location
40   New Smyrna Beach, Volusia County
54   New Smyrna Beach, Volusia County
159  New Smyrna Beach, Volusia County
162  New Smyrna Beach, Volusia County
197  New Smyrna Beach, Volusia County
198  New Smyrna Beach, Volusia County
242  New Smyrna Beach, Volusia County
256  New Smyrna Beach, Volusia County
274  New Smyrna Beach, Volusia County
275  New Smyrna Beach, Volusia County
287  New Smyrna Beach, Volusia County
361  New Smyrna Beach, Volusia County
363  New Smyrna Beach, Volusia County
369  New Smyrna Beach, Volusia County
377  New Smyrna Beach, Volusia County
409  New Smyrna Beach, Volusia County
410  New Smyrna Beach, Volusia County
437  New Smyrna Beach, Volusia County
449  New Smyrna Beach, Volusia County
466  New Smyrna Beach, Volusia County
470  New Smyrna Beach, Volusia County
472  New Smyrna Beach, Volusia County
473  New Smyrna Beach, Volusia County
474  New Smyrna Beach, Volusia County
478  New Smyrna Beach, Volusia County
480  New Smyrna Beach, Volusia County
491  New Smyrna Beach, Volusia County

In [49]:
unique_injuries = recent_injuries['Injury'].unique()
unique_injuries

array(['Llacerations to face and chin', 'Ankle injured',
       'Minor injury to foot', 'Foot bitten', 'Bite to right foot',
       'Minor injuries to knee and calf of left leg                            PROVOKED INCIDENT                 ',
       'Minor cuts to right foot and ankle', 'Leg bitten',
       'Right calf bitten', 'Minor injury to right foot',
       'Minor lacerations to left leg', 'Lacerations to foot ',
       'Left foot bitten ',
       'Left foot bitten when he jumped on the shark  PROVOKED INCIDENT',
       'No injury, knocked from his board by the shark',
       'Minor cuts when he jumped off his board and landed on the shark. PROVOKED INCIDENT',
       'Hand and calf bitten when he jumped off surfboard and landed on the shark PROVOKED INCIDENT',
       'Puncture marks to lower leg', 'Minor injuries to right foot',
       'Minor cuts to right foot', 'Bite to left hand and wrist',
       '3 lacerations to left hand', 'Lacerations to right thigh'],
      dtype=object)

In [51]:
injury_counts = recent_injuries["Injury"].value_counts
injury_counts

<bound method IndexOpsMixin.value_counts of 40                         Llacerations to face and chin
54                                         Ankle injured
159                                 Minor injury to foot
162                                          Foot bitten
197                                   Bite to right foot
198    Minor injuries to knee and calf of left leg   ...
242                   Minor cuts to right foot and ankle
256                                           Leg bitten
274                                    Right calf bitten
275                           Minor injury to right foot
287                                          Foot bitten
361                                 Minor injury to foot
363                        Minor lacerations to left leg
369                                 Lacerations to foot
377                                          Foot bitten
409                                    Left foot bitten
410    Left foot bitten when he jumped on the shark  ...
437       No injury, knocked from his board by the shark
449    Minor cuts when he jumped off his board and la...
466    Hand and calf bitten when he jumped off surfbo...
470                          Puncture marks to lower leg
472                         Minor injuries to right foot
473                             Minor cuts to right foot
474                          Bite to left hand and wrist
478                           3 lacerations to left hand
480                           Lacerations to right thigh
491                                 Minor injury to foot
Name: Injury, dtype: object>

In [53]:
recent_injuries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 40 to 491
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      27 non-null     int64
 1   Country   27 non-null     object
 2   Injury    27 non-null     object
 3   Location  27 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.1+ KB

In [55]:
location_counts = USA_data['Location'].value_counts()
location_counts
locations_counts_sum = sum(location_counts)
locations_counts_sum

2475

In [57]:
recent_injuries_counts = recent_injuries['Injury'].value_counts()
ecent_injuries_counts

Injury
Minor injury to foot                                                                                         3
Foot bitten                                                                                                  3
Llacerations to face and chin                                                                                1
Left foot bitten when he jumped on the shark  PROVOKED INCIDENT                                              1
3 lacerations to left hand                                                                                   1
Bite to left hand and wrist                                                                                  1
Minor cuts to right foot                                                                                     1
Minor injuries to right foot                                                                                 1
Puncture marks to lower leg                                                                                  1
Hand and calf bitten when he jumped off surfboard and landed on the shark PROVOKED INCIDENT                  1
Minor cuts when he jumped off his board and landed on the shark. PROVOKED INCIDENT                           1
No injury, knocked from his board by the shark                                                               1
Lacerations to foot                                                                                          1
Left foot bitten                                                                                             1
Ankle injured                                                                                                1
Minor lacerations to left leg                                                                                1
Minor injury to right foot                                                                                   1
Right calf bitten                                                                                            1
Leg bitten                                                                                                   1
Minor cuts to right foot and ankle                                                                           1
Minor injuries to knee and calf of left leg                            PROVOKED INCIDENT                     1
Bite to right foot                                                                                           1
Lacerations to right thigh                                                                                   1
Name: count, dtype: int64

In [60]:
recent_injuries_counts.describe()

count    23.000000
mean      1.173913
std       0.576208
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max       3.000000
Name: count, dtype: float64

In [1]:
data

NameError: name 'data' is not defined

In [3]:
import pandas as pd
import os

url = "https://www.sharkattackfile.net/spreadsheets/GSAF5.xls"

data = pd.read_excel(url)
data

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.isnull().sum()

Date                25
Year                27
Type                43
Country             75
State              507
Location           590
Activity           611
Name               245
Sex                604
Age               3019
Injury              60
Unnamed: 11        587
Time              3551
Species           3157
Source              44
pdf                170
href formula       150
href               173
Case Number        171
Case Number.1      172
original order     170
Unnamed: 21       6968
Unnamed: 22       6967
dtype: int64

In [12]:
#we noticed that the Species collumn has an empty space after the last letter, so we'll remove the space and save that to news dataset
data = data.rename(columns = {"Species ": "Species"})
data

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:


# we will chose certain variables that we think it's more important for identifying our business. and we chose these 7 collumns: 



selected_columns = data[["Date", "Year", "Country", "Location", "Injury", "Species", "Activity"]]
selected_columns

,Date,Year,Country,Location,Injury,Species,Activity
0,15 Mar 2024,2024.0,AUSTRALIA,Bargara Beach,"Minor injuries to back, abdomen and legs",Tiger shark,Swimming
1,04 Mar 2024,2024.0,USA,"Old Man's, Waikiki","No injury, shark bit surfboard",Tiger shark 8',Surfing
2,02 Mar-2024,2024.0,USA,"Rainbows, Oahu",Lacerations to left foot,3' to 4' shark,Swimming
3,25 Feb-2024,2024.0,AUSTRALIA,"Sandlnd Island, Jurian Bay",Leg bitten,Tiger shark,NaN
4,14 Feb-2024,2024.0,INDIA,"Vaitarna River, Palghar District",Calf of lower left leg injured,"Bull shark, 7'",Fishing
...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# clean the selected columns from NaN

selected_columns.dropna(how='all')

,Date,Year,Country,Location,Injury,Species,Activity
0,15 Mar 2024,2024.0,AUSTRALIA,Bargara Beach,"Minor injuries to back, abdomen and legs",Tiger shark,Swimming
1,04 Mar 2024,2024.0,USA,"Old Man's, Waikiki","No injury, shark bit surfboard",Tiger shark 8',Surfing
2,02 Mar-2024,2024.0,USA,"Rainbows, Oahu",Lacerations to left foot,3' to 4' shark,Swimming
3,25 Feb-2024,2024.0,AUSTRALIA,"Sandlnd Island, Jurian Bay",Leg bitten,Tiger shark,NaN
4,14 Feb-2024,2024.0,INDIA,"Vaitarna River, Palghar District",Calf of lower left leg injured,"Bull shark, 7'",Fishing
...,...,...,...,...,...,...,...
6939,Before 1903,0.0,AUSTRALIA,Roebuck Bay,FATAL,NaN,Diving
6940,Before 1903,0.0,AUSTRALIA,NaN,FATAL,NaN,Pearl diving
6941,1900-1905,0.0,USA,Ocracoke Inlet,FATAL,NaN,Swimming
6942,1883-1889,0.0,PANAMA,"Panama Bay 8ºN, 79ºW",FATAL,NaN,NaN
6943,1845-1853,0.0,CEYLON (SRI LANKA),"Below the English fort, Trincomalee","FATAL. ""Shark bit him in half, carrying away t...",NaN,Swimming

In [40]:
# delete the NA from any raw and column 
selected_columns = selected_columns.dropna(subset = ['Year'])
selected_columns
df= selected_columns
df

,Date,Year,Country,Location,Injury,Species,Activity
0,15 Mar 2024,2024.0,AUSTRALIA,Bargara Beach,"Minor injuries to back, abdomen and legs",Tiger shark,Swimming
1,04 Mar 2024,2024.0,USA,"Old Man's, Waikiki","No injury, shark bit surfboard",Tiger shark 8',Surfing
2,02 Mar-2024,2024.0,USA,"Rainbows, Oahu",Lacerations to left foot,3' to 4' shark,Swimming
3,25 Feb-2024,2024.0,AUSTRALIA,"Sandlnd Island, Jurian Bay",Leg bitten,Tiger shark,NaN
4,14 Feb-2024,2024.0,INDIA,"Vaitarna River, Palghar District",Calf of lower left leg injured,"Bull shark, 7'",Fishing
...,...,...,...,...,...,...,...
6939,Before 1903,0.0,AUSTRALIA,Roebuck Bay,FATAL,NaN,Diving
6940,Before 1903,0.0,AUSTRALIA,NaN,FATAL,NaN,Pearl diving
6941,1900-1905,0.0,USA,Ocracoke Inlet,FATAL,NaN,Swimming
6942,1883-1889,0.0,PANAMA,"Panama Bay 8ºN, 79ºW",FATAL,NaN,NaN
6943,1845-1853,0.0,CEYLON (SRI LANKA),"Below the English fort, Trincomalee","FATAL. ""Shark bit him in half, carrying away t...",NaN,Swimming

In [43]:
# correct the way the Years are written from for example 2023.0 to 2023 (from strin to integer )



df['Year'] = df['Year'].astype(int)
df

,Date,Year,Country,Location,Injury,Species,Activity
0,15 Mar 2024,2024,AUSTRALIA,Bargara Beach,"Minor injuries to back, abdomen and legs",Tiger shark,Swimming
1,04 Mar 2024,2024,USA,"Old Man's, Waikiki","No injury, shark bit surfboard",Tiger shark 8',Surfing
2,02 Mar-2024,2024,USA,"Rainbows, Oahu",Lacerations to left foot,3' to 4' shark,Swimming
3,25 Feb-2024,2024,AUSTRALIA,"Sandlnd Island, Jurian Bay",Leg bitten,Tiger shark,NaN
4,14 Feb-2024,2024,INDIA,"Vaitarna River, Palghar District",Calf of lower left leg injured,"Bull shark, 7'",Fishing
...,...,...,...,...,...,...,...
6939,Before 1903,0,AUSTRALIA,Roebuck Bay,FATAL,NaN,Diving
6940,Before 1903,0,AUSTRALIA,NaN,FATAL,NaN,Pearl diving
6941,1900-1905,0,USA,Ocracoke Inlet,FATAL,NaN,Swimming
6942,1883-1889,0,PANAMA,"Panama Bay 8ºN, 79ºW",FATAL,NaN,NaN
6943,1845-1853,0,CEYLON (SRI LANKA),"Below the English fort, Trincomalee","FATAL. ""Shark bit him in half, carrying away t...",NaN,Swimming

In [60]:
df= df[(df['Year'] >= 2015)]
df

,Date,Year,Country,Location,Injury,Species,Activity
0,15 Mar 2024,2024,AUSTRALIA,Bargara Beach,"Minor injuries to back, abdomen and legs",Tiger shark,Swimming
1,04 Mar 2024,2024,USA,"Old Man's, Waikiki","No injury, shark bit surfboard",Tiger shark 8',Surfing
2,02 Mar-2024,2024,USA,"Rainbows, Oahu",Lacerations to left foot,3' to 4' shark,Swimming
3,25 Feb-2024,2024,AUSTRALIA,"Sandlnd Island, Jurian Bay",Leg bitten,Tiger shark,NaN
4,14 Feb-2024,2024,INDIA,"Vaitarna River, Palghar District",Calf of lower left leg injured,"Bull shark, 7'",Fishing
...,...,...,...,...,...,...,...
421,12-Jan-2020,2020,THAILAND,Nang Thong Beach,Calf bitten,NaN,Swimming
422,07-Jan-2020,2020,AUSTRALIA,North West Island,Lacerations to leg,Lemon shark,Swimming
423,05-Jan-2020,2020,AUSTRALIA,Cull Island / Esperance,FATAL,White shark,Scuba diving
424,03-Jan-2020,2020,NEW CALEDONIA,Calana,Right leg bitten,NaN,NaN
425,02-Jan-2020,2020,AUSTRALIA,Esperance,Probable drowning and scavenging,NaN,Swimming after being swept off rocks

In [61]:
df['Year'].value_counts()

Year
2021    109
2023    108
2020    101
2022     98
2024     10
Name: count, dtype: int64

In [62]:
df.Country.value_counts()

Country
USA                           202
AUSTRALIA                     101
BAHAMAS                        15
SOUTH AFRICA                   12
NEW ZEALAND                    10
NEW CALEDONIA                  10
BRAZIL                          8
EGYPT                           8
FRENCH POLYNESIA                8
MEXICO                          7
THAILAND                        4
BELIZE                          3
ECUADOR                         2
JAMAICA                         2
ENGLAND                         2
FIJI                            2
MALDIVES                        2
CUBA                            2
SPAIN                           2
COLOMBIA                        1
INDONESIA                       1
ST KITTS / NEVIS                1
JORDAN                          1
CANADA                          1
British Overseas Territory      1
New Zealand                     1
COSTA RICA                      1
COLUMBIA                        1
INDIA                           1
TRINIDAD                        1
Mexico                          1
JAPAN                           1
SAMOA                           1
PHILIPPINES                     1
South Africa                    1
Maldives                        1
MeXICO                          1
Coral Sea                       1
ARGENTINA                       1
SEYCHELLES                      1
PORTUGAL                        1
TURKS and CaICOS                1
ST MARTIN                       1
Name: count, dtype: int64

In [63]:
df.loc[data['Country'] == 'USA']

,Date,Year,Country,Location,Injury,Species,Activity
1,04 Mar 2024,2024,USA,"Old Man's, Waikiki","No injury, shark bit surfboard",Tiger shark 8',Surfing
2,02 Mar-2024,2024,USA,"Rainbows, Oahu",Lacerations to left foot,3' to 4' shark,Swimming
10,30 Dec-2023,2023,USA,"Baby Beach, Maui",FATAL,NaN,Surfing
24,05 Nov-2023,2023,USA,"Juno Beach, Palm Beach County",Lacerations to right forearm,NaN,Swimming
29,25 Oct 2023,2023,USA,"Pua’ena Point, Haleiwa, Oahu",Bite to right thigh,8' tiger shark,Surfing
...,...,...,...,...,...,...,...
408,27-Mar-2020,2020,USA,"Pleasure Point, Santa Cruz County","No injury, paddleboard bitten",NaN,Stand-Up Paddleboarding
409,22-Mar-2020,2020,USA,"New Smyrna Beach, Volusia County",Left foot bitten,NaN,Surfing
410,22-Mar-2020,2020,USA,"New Smyrna Beach, Volusia County",Left foot bitten when he jumped on the shark ...,NaN,Surfing
415,05-Feb-2020,2020,USA,Wailea,"No injury, but paddleboard bitten",Tiger shark,Stand-Up Paddle boarding
420,13-Jan-2020,2020,USA,"Rodanthe, Dare County",Lacerations to foot,NaN,Surfing

In [59]:
df['Location'].value_counts()

Location
New Smyrna Beach, Volusia County     17
Cocoa Beach, Brevard  County          6
Ponce Inlet, Volusia County           6
Myrtle Beach, Horry County            5
Anna Maria Island, Manatee County     4
                                     ..
Seacliff                              1
Kauai                                 1
Horn Island                           1
Cat Island                            1
Esperance                             1
Name: count, Length: 353, dtype: int64

In [64]:
df['Injury'].value_counts()

Injury
FATAL                                                                43
Foot bitten                                                           9
Leg bitten                                                            8
Lacerations to leg                                                    4
Right leg bitten                                                      4
                                                                     ..
Lower left leg severely bitten, necessitating surgical amputation     1
Injury to upper lip                                                   1
Minor bite to left  foot                                              1
Four-inch cut to right foot                                           1
Probable drowning and scavenging                                      1
Name: count, Length: 310, dtype: int64